<form id="new-party" name="party" class="form-horizontal">
  <fieldset>
    <legend>New Party</legend>

    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" name="name" id="name" value="<%= name %>" placeholder="Name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text" name="location" id="location" value="<%= location %>" placeholder="Address">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="start_at">Start At</label>
      <div class="controls">
        <input type="text" name="start_at" id="start_at" value="<%= start_at %>" placeholder="Date And Time">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="end_at">End At</label>
      <div class="controls">
        <input type="text" name="end_at" id="end_at" value="<%= end_at %>" placeholder="Date And Time">
      </div>
    </div>    

    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea rows="10" name="description" id="description" placeholder="Write some description about the party"><%= description %></textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a class="link btn" href="/parties">Back</a>
        <button class="btn btn-primary" type="submit">Create Party</button>
      </div>
    </div>
  </fieldset>
</form>
