<span class="form-horizontal">
  <fieldset>
    <legend>Party</legend>

    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <span class="show-field"><%= name %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <span class="show-field"><%= location %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="start_at">Start At</label>
      <div class="controls">
        <span class="show-field"><%= start_at %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="end_at">End At</label>
      <div class="controls">
        <span class="show-field"><%= end_at %></span>
      </div>
    </div>    

    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <span class="textarea show-field"><%= description %></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a class="link btn" href="/parties">Back</a>
      </div>
    </div>
  </fieldset>
</span>